@page "/"
@using System.Text

<h1>Welcome back!</h1>

<p>Let's load test this sucker</p>

<button class="btn btn-primary" @onclick="LoadTest">Click me</button>

<SurveyPrompt Title="How is Blazor working for you?" />
